Source: python3-nbxmpp-nightly
Section: python
Priority: optional
Maintainer: Gajim Maintainers <ci@gajim.org>
Build-Depends:
    debhelper-compat (= 13),
    dh-python,
    gir1.2-soup-3.0,
    python3-all,
    python3-gi (>=3.42.0),
    python3-idna,
    python3-packaging,
    python3-precis-i18n (>=1.0.0),
    python3-setuptools (>= 65.0.0),
Standards-Version: 4.1.4
Rules-Requires-Root: no
Homepage: https://dev.gajim.org/gajim/python-nbxmpp
Vcs-Git: https://dev.gajim.org/gajim/python-nbxmpp.git
Vcs-Browser: https://dev.gajim.org/gajim/python-nbxmpp/tree/master

Package: python3-nbxmpp-nightly
Architecture: all
Depends: ${misc:Depends},
    ${python3:Depends},
    gir1.2-soup-3.0,
    python3-gi (>=3.42.0),
Recommends: python3-gssapi,
Breaks: gajim (<< 1.6~)
Conflicts: python3-nbxmpp
Description: Non blocking XMPP Python library
 python-nbxmpp is a Python library that provides a way for Python applications 
 to use the XMPP network. This library was initially a fork of xmpppy.
