Source: python3-nbxmpp-nightly
Section: python
Priority: optional
Maintainer: Yann Leboulanger <asterix@lagaule.org>
Build-Depends:
    debhelper (>= 9),
    dh-python,
    python3 (>= 3.9),
    python3-gi,
    python3-precis-i18n,
Standards-Version: 5.6.11
Homepage: https://dev.gajim.org/gajim/python-nbxmpp
Vcs-Svn: https://dev.gajim.org/gajim/python-nbxmpp.git
Vcs-Browser: https://dev.gajim.org/gajim/python-nbxmpp/tree/master

Package: python3-nbxmpp-nightly
Architecture: all
Depends:
    ${misc:Depends},
    ${python3:Depends},
    python3 (>= 3.9),
    python3-gi (>=3.32.0),
    gir1.2-glib-2.0 (>= 1.48.0),
    gir1.2-soup-2.4,
    python3-precis-i18n,
    python3-idna,
Conflicts: python3-nbxmpp
Description: Non blocking XMPP Python library
 nbxmpp is a Python library that provides a way for Python applications
 to use the XMPP network. This library was initially a fork of xmpppy.


    
    